body
{   background-color: rgb(206,203,140);
    margin-left: 120px;
    font-family:"Comic Sans MS", "Trebuchet MS", Georgia, serif;
}
.ff{ animation: 3s 4s alternate slide;
}
.ss{animation: 3s 4s alternate sliden;}
#menu li{
    list-style-type: none;
    display: inline-block;
    width:150px;
    height: 25px;
    background-color: beige;
    padding: 7px 7px 7px 10px;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 3px 3px grey ;
    text-align:center;
    font-family:"Arial Black";
    animation: 3s 4s alternate slide;
}
@keyframes slide{
    from{
        margin-left: 100%;
        width: 300%;
    }
}
#menu li a{
    text-decoration: none;
    color: maroon;
    font-weight: bold; 
    
}
#menu li:hover{
    background-color: grey;
   text-decoration: underline;
    color: maroon;
    transform: rotate(10deg);
}
#contenu{
    width: 1000px;
    text-align: justify;
}
article{
    width: 700px;
    margin-bottom: 200px;
    position: relative;
    animation: 3s 4s alternate sliden;
}
@keyframes sliden{
    from{
        margin-right: 100%;
        width: 300%;
    }
}
#contenu nav{
    width: 200px;
    background-image: url("images/pattern.png");
    background-repeat: repeat;

    
}
.btn{
    text-decoration: none;
    color: black;
    background-color: #CC7559;
    padding: 7px 7px 7px 10px ;  
    height: 20px;
    border-radius: 5px;
    float: right;
    box-shadow: 3px 3px;
}
.btn:hover { 
     font-weight: bold;}
#contenu h2{
    color: #CC7559;
    text-transform: uppercase;
    font-family:"Arial Black";
}
#html h3{
    text-decoration: underline;
    color: maroon;
    text-align: center;
    font-family:"Arial Black";
    
}
#css h3{
    text-decoration: underline;
    color: maroon;
    text-align: center;
     font-family:"Arial Black";
}
#js h3{
    text-decoration: underline;
    color: maroon;
    text-align: center;
     font-family:"Arial Black";
}
#html h4 {
    text-decoration: underline;
    color: olive;
    
}
#html h4:hover{
    text-decoration: underline;
    color: maroon;
    font-weight: bold;
}
#css h4 {
    text-decoration: underline;
    color: olive;
    
}
#css h4:hover{
    text-decoration: underline;
    color: maroon;
    font-weight: bold;
}
#js h4 {
    text-decoration: underline;
    color: olive;
    
}
#js h4:hover{
    text-decoration: underline;
    color: maroon;
    font-weight: bold;
}


#html{
    position: relative;
    left:950px;
    top:-1150px;
animation: 3s 4s alternate slide;

}
#css{
    position: relative;
    left:950px;
    top:-1000px;
animation: 3s 4s alternate slide;
}
#js{
 position: absolute;
 top: 1150px;
 left: 1050px;
animation: 3s 4s alternate slide;

